<!-- <section class="py-5">
  <div class="container">
    <div class="row g-4 align-items-start">
      
      
      <div class="col-lg-3 bg-light p-3 rounded shadow-sm">
        <h2>Products Gallery</h2>
        <ul class="list-unstyled"> -->
          <!-- <li>
            <a routerLink="tv" routerLinkActive="bg-danger text-white" class="d-block p-2 rounded text-decoration-none">TV</a>
          </li>
          <li>
            <a routerLink="laptop" routerLinkActive="bg-danger text-white" class="d-block p-2 rounded text-decoration-none">Laptop</a>
          </li>
          <li>
            <a routerLink="mobile" routerLinkActive="bg-danger text-white" class="d-block p-2 rounded text-decoration-none">Mobile</a>
          </li> -->
          <!-- @for (item of menuItems; track $index) 
          {
            <li>          
            <a [routerLink]="item.path" 
            routerLinkActive="bg-danger text-white" 
          class="d-block p-2 rounded text-decoration-none">
        {{ item.title }}
                    </a>
            </li>
          }
        </ul>
      </div>

      
  
      
    </div>
  </div>
</section> -->
<section class="py-5">
  <div class="container">
 <div class="col-lg-9 p-4 rounded shadow-sm" style="background-color: #d1e7dd;"> 
  <router-outlet></router-outlet>
  </div> 
</div>
</section> 