<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3 sticky-top">
  <div class="container">
    
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 3. Navigation Links & Actions -->
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav ms-auto gap-2 my-2 my-lg-0 align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link custom-nav-link active fw-semibold px-3 py-2 rounded-2" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link fw-semibold px-3 py-2 rounded-2" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link fw-semibold px-3 py-2 rounded-2" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>